/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh; /* Full viewport height */
    color: #333;
}

/* Container styles */
.white-box {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}



/* Container for the slides */
.scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/* Each slide */
.slide {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;  /* Full viewport height */
    flex-shrink: 0;
    scroll-snap-align: start;
    transition: transform 0.5s ease;
    background-color: #f0f0f0;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Creates two equal-width columns */
    gap: 20px; /* Adds space between the columns */
    padding: 20px;
}

.column {
    border-radius: 8px;
    padding: 20px;
    border: 100px solid;
    background-color: #333;
}

/* Heading styles */
h1 {
    font-size: 36px;
    color: #ff6347; /* Tomato color for emphasis */
    margin-bottom: 20px;
}

h3{
    background-color:inherit;
    color: #ff6347;
    padding-bottom: 10px;
}


/* Paragraph styles */
p {
    font-size: 18px;
    color: #555;
    max-width: 500px;
}

a{
    padding-top: 10px;
}

b{
    display:unset;
}